.btn {
  padding: 0.5rem 0.8rem;
  border: 0;
  background-color: var(--bg-primary);
  cursor: pointer;
}

.btn,
.reverse {
  border-radius: 4px;
  transition: transform 0.2s;
}

.btn:hover {
  cursor: pointer !important;
  transform: scale(1.01) !important;
  background-color: var(--bg-secondary) !important;
  border-color: var(--bg-secondary) !important;
}

.reverse {
  padding: 0.8rem 1.2rem;
  border: 0;
  background-color: var(--bg-secondary);
  cursor: pointer;
}

.reverse:hover {
  cursor: pointer !important;
  transform: scale(1.01) !important;
  background-color: var(--bg-primary) !important;
  border-color: var(--bg-primary) !important;
}
