.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* .right button {
  border-radius: 4px;
  transition: transform 0.2s;
}

.right button:hover {
  cursor: pointer;
  transform: scale(1.01);
  background-color: var(--bg-secondary);
} */
