.header {
  background-color: #016d42;
  color: white;
  grid-area: nav;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 0.7em;
}

.div-link {
  display: flex;
}

.div-link li {
  list-style: none;
  padding: 0.5rem;
}

.div-link li a {
  text-decoration: none;
  color: white;
  transition: 0.2s ease-in;
}

.div-link li a:hover {
  color: var(--bg-secondary);
  font-weight: 700;
}
